@charset "utf-8";
	@font-face {
       font-family:Arial, Helvetica, sans-serif;
		src:url('fonts/Arial.ttf')
       
    }
#header-up{
	padding-top:55px;
	padding-bottom:20px;
	background:#fff;
}
.wrapper{
	width:898px;
	/*margin:0 auto;*/
	padding-let:20px;
	}
.logo-up{
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	width:50%;
	float:left;
}
.logo-up img{ margin-top:-20px; margin-right:10px;}
.logo-up a{
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-decoration:none;
	
}
.text-right{
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-top:7px;
	width:50%; float:right;
	text-align:right;
	
	}
.text-right a{color:#363636; text-decoration:none;}
.widget-main-contant{
	text-align:center;
	margin-top:30px;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	 margin-bottom:30px;
	 float:left;
	
	}
.widget-main-contant a{text-decoration:none; color:#0058a4;}

.widget-main-contant span{ color:#44c56a; font-weight:bold;}
.widget-main-contant h1{
	margin-bottom:30px;
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	 font-weight:normal;
	}	
	
.widget-main-contant p{
	color:#898989;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	}	
.partner-id-main-contant{background-color:#363636; padding:20px; padding-bottom:30px; margin-top:30px; float:left; width:96%;}	
	
.partner-id-main-contant h1{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-transform:uppercase;
	margin-bottom:20px;
	
	}	
.partner-input{padding:10px; width:70%; font-size:24px;  color:#959595;font-family:Arial, arial,reguler;}	
.partner-botton {
    background-color: #44c56a !important;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 18px;
    padding: 12px;
    width: 24%;
	cursor:pointer;
}




.partner-id-main-contant1{background-color:#363636; padding:20px; padding-bottom:30px; margin-top:30px; float:left; width:96%; text-align:center;}	
	
.partner-id-main-contant1 h1{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:20px;
	font-weight:normal;
	
	}	
.partner-input{padding:10px; width:70%; font-size:24px;  color:#959595;font-family:Arial, arial,reguler;}	
.partner-botton {
    background-color: #44c56a !important;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 18px;
    padding: 15px;
    width: 24%;
    margin-top:10px;
    text-decoration: none;
}

.partner-botton:hover	{
	padding:15px; width:24%; border:none; border-radius:4px; background-color:#fff !important; color:#363636; margin-left:18px;
	text-decoration: none;
	}

.partner-bottom{	
	color:#898989;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;	
	float:right; 
	margin-top:10px;
	width:100%;
	text-align:right;
	padding
	
}

	
.main-widgets{width:100%;}	

.main-widgets-box{margin-top:30px; float:left; padding-top:10px;}
.widget-first{
	width:32%;
	text-align:center;
	color:#898989;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	float:left;
	margin-right:8px;
	-webkit-margin-end:8px;



}


.widget-first h1{
	text-align:center;
	color:#898989;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-bottom:10px;
	margin-top:15px;


}
.widget-first p{
	text-align:center;
	color:#898989;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;


}		
	
	
.widget-second{
	width:33%;
	text-align:center;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	border:3px solid #0C3;
	float:left;
	margin-right:8px;
	-webkit-margin-end:8px;
	margin-top:25px;
	padding:0px;


}
.widget-second h1{
	text-align:center;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-bottom:10px;
	margin-top:20px;


}
.widget-second p{
	text-align:center;
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-bottom:10px;


}	
.widget-second1{
	width:33%;
	text-align:center;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	border:3px solid #0C3;
	float:left;
	margin-right:0px;
	margin-top:45px;
	padding:0px;


}
.widget-second1 h1{
	text-align:center;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-bottom:10px;
	margin-top:20px;


}
.widget-second1 p{
	text-align:center;
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding-bottom:10px;


}	






.widget-third {
    color: #000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-top: 35px;
    padding: 0 1px;
    text-align: center;
    width: 32%;
}
	
	
.widget-third h1{
	text-align:center;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-bottom:10px;
	margin-top:15px;


}
.widget-third p{
	text-align:center;
	color:#363636;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;


}	
	
.footer-text{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:39px;	
	text-align:center;
	margin:30px 0px 10px;
	float:left;
	width:100%;
	
	}	
	
.footer-text a{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:39px;	
	text-align:center;
	}		
	
	
div.update-nag , div#message , div.updated	
	{
		color:black;
	}
	
.border-image {
    float: left;
    margin-top: 5px;
}

.wrap section#header ,
.wrap section#got-widget ,
.wrap section#partner-id ,
.wrap section#main-widgets ,
.wrap section#footer-up 
 {
   clear: both;
   float: left;
   height: auto;
   width: 100%;
   background:white;
 }	
	
	
section.upshare_footer { padding-left:0px !important; margin-left:0px !important;}
section#got-widget p { line-height:1.4em !important;}


/* Admin form css */
.partner-id-main-contant .form-item-upshare-partner-id label[for="edit-upshare-partner-id"]
{
	display:none;
}
.partner-id-main-contant .form-item-upshare-partner-id input[type="text"]
{
	width:600px;
	height:50px;
	float:left;
	margin-right:20px;
	font-size:24px;
}
#partner-id .partner-id-main-contant .form-actions
{
	
	margin:0;
}
#partner-id .partner-id-main-contant .form-actions input[type="submit"]
{
	border-radius: 5px;
	background: #44C56A;
	color: #fff;
	font-weight: bold;
	/* margin: 0; */
	padding: 15px 40px;
}

#partner-id .partner-id-main-contant .form-item
{
	padding:4px 0;
	margin:0;
}